<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
         <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<!-- JQuery -->
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
		</script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        {# 子模板中css的扩展 #}
        {% block css %} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('blog.blogindex') }}">Python的博客</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav select">
            <li class="active"><a href="{{ url_for('blog.blogindex') }}">首页 <span class="sr-only">(current)</span></a></li>
            <li><a href="{{ url_for('blog.publish') }}">发表博客</a></li>
          </ul>
          <form class="navbar-form navbar-left" action="{{ url_for('blog.search') }}">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="🔍请输入搜索的内容" name="keyword">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
          </form>
{#           {# 用户登录的情况下 显示欢迎XXX和退出登录, 否则显示的是登录和注册 #}
            {% if session.get('username') %}
                <ul class="nav navbar-nav navbar-right">
{#                <li><a href="{{ url_for('user.login') }}">欢迎{{ session.get('username') }}</a></li>#}
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎{{ session.get('username') }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">修改用户名</a></li>
                    <li><a href="#">修改密码</a></li>
                    <li><a href="{{ url_for('user.updateicon') }}">修改头像</a></li>
                  </ul>
                </li>

                <li><a href="{{ url_for('user.exit') }}">退出登录</a></li>
          </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('user.login') }}">登录</a></li>
                <li><a href="{{ url_for('user.register') }}">注册</a></li>
          </ul>
            {% endif %}

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {# 子模板中body体的扩展 #}
    {% block body %} {% endblock %}
    {# 子模板中js的扩展 #}
    {% block js %}
        <script>
            {# 点击哪个导航位置, 哪个就处于选中状态 #}
            $('.select > li').click(function () {
                {# 找到所有li标签都先设置成未选中的状态 #}
                $('.select > li').attr('class', '')
                {# 点击哪个, 哪个就选中, this 就是自己 #}
                $(this).attr('class', 'active')
            })
        </script>
    {% endblock %}
</body>
</html>