{# 继承自base #}
{% extends 'base.html' %}

{# 设置自己的标题 #}
{% block title %}搜索{% endblock %}

{# 自己扩展css的内容 #}
{% block css %}
        <style>
            .box{
                {# 设置圆角 #}
                border-radius: 5px;
                border: 1px solid gray;
                {# 距离下面间隙 #}
                margin-bottom: 10px;
                {# 内容和标签间的间隙 #}
                padding: 10px 30px;
            }
            .thum{
                font-size: 16px;
            }
            {# 设置用户名 #}
            .user{
                float: left;
            }
            {# 设置点赞 #}
            .like{
                float: right;
                {# 设置鼠标样式 #}
                cursor: pointer;
            }
            .clear{
                {# 撑起来用户点赞的标签 #}
                clear: both;
            }
        </style>
{% endblock %}

{% block body %}
    <div class="container">
        {% if blogs %}
            {# 遍历, 获取每个blog #}
            {% for blog in blogs %}
                <div class="box">
                    {# 这是标题 #}
                    <h3 class="title">
                        <a href="#">{{ blog.title }}</a>
                    </h3>
                    {# 内容区 #}
                    <p class="thum">{{ blog.thum_content }}</p>
                    <div class="user_like">
                        <div class="user">
                        <a href="{{ url_for('blog.userindex') }}?username={{ blog.user.username }}">
                            {% if blog.user.user_icon %}
                                <img class="iconname" src="{{ url_for('static', filename=blog.user.user_icon) }}" style="height: 30px">
                            {% else %}
                                <img class="iconname" src="{{ url_for('static', filename='icon/default.jpg') }}" style="height: 30px">
                            {% endif %}

                            {# 用户名 #}
                            <span>{{ blog.user.username }}</span>
                        </a>

                        </div>
                            <div class="like">
                                    {% if session.get('username') %}
                                        <a class="likea" bid="{{ blog.bid }}">
                                    {% else %}
                                        <a href="{{ url_for('user.login') }}">
                                    {% endif %}


                                    {# 如果登录者用户名在博客喜爱者中, 点赞变红色 #}
                                    {% if blog.bid in like_bids %}
                                        <span class="glyphicon-certificate glyphicon glyphicon-thumbs-up likehand" style="color:red;"></span>
                                    {% else %}
                                        <span class="glyphicon-certificate glyphicon glyphicon-thumbs-up likehand" style="color: gray"></span>
                                    {% endif %}
                                    {# 点赞数量. 表示给这个博客点赞的用户个数 blog.like_users|length 获取这个容器数据的个数 #}
                                    <span class="likenumber">{{ blog.like_users|length }}</span>
                                </a>
                            </div>
                        <div class="clear"></div>
                    </div>
                </div>
            {% endfor %}
    {% else %}
            <p>暂无搜索结果</p>
    {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script>
        $('.likea').click(function () {
            {# 接受正被点击的对象 #}
            var _this = $(this)
            {# 发送请求 #}
            $.ajax({
                {# 发送请求, 局部刷新点赞的位置 ajax #}
                url: '{{ url_for('blog.likeorunlike') }}',
                type: 'get',
                data: 'bid=' + _this.attr('bid'),
                {# 等待响应 #}
                success: function (result, status) {
                    console.log(status + '----' + result)
                    if (status == 'success'){
                        {# 修改点赞值 #}
                        _this.find('.likenumber').text(result.likenum)
                        if (result.code == 200){
                            {# 点赞 #}
                            _this.find('.likehand').css('color', 'red')
                        } else {
                            {# 取消点赞 #}
                            _this.find('.likehand').css('color', 'gray')
                        }
                    }
                }
            })
        })
    </script>
{% endblock %}